<script>
var tags = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  limit: 100,
  prefetch: '/tags.json'
});
 
// kicks off the loading/processing of `local` and `prefetch`
tags.clearPrefetchCache();
tags.initialize();
 
// passing in `null` for the `options` arguments will result in the default
// options being used
$('#prefetch .typeahead').typeahead(null, {
  displayKey: 'name',
  // `ttAdapter` wraps the suggestion engine in an adapter that
  // is compatible with the typeahead jQuery plugin
  source: tags.ttAdapter(),
  templates: {
    empty: ['<div class="empty-message">',
      'No such tag exists.',
      'But feel free to create it!',
      '</div>'].join('\n')
    }
  }); 
</script>

<div class="row">
  <%= form_for @announcement do |f| %>
    <%= f.text_field :title, required: 'required', placeholder: 'Title' %>
    <br>

    <%= f.text_field :body, required: 'required', placeholder: 'Message' %>
	
	<br>

	<div id="prefetch">
		<%= fields_for :tags do |tags_fields|%>
    		<%= tags_fields.text_field :name, required: 'required', placeholder: 'Tags', class: 'typeahead' %>
		<%end%>
	</div>
  	
  	<%= f.hidden_field :user_id, {value: current_user.id} %>
	<%= f.submit "Submit!", class: "btn btn-success" %>
  <% end %>
</div>
