<div class="row">
	<div class="col-md-10">
		
		<div class="row">
		<div class="well col-md-4">
			By: <%= link_to @user.name+' '+@user.surname, user_path(@user) %>
			<br>
			Tags: <% @announcement.tag_list.each do |t| %><%= link_to t, announcements_tag_path(t) %> <% end %>
			<br>
			Posted on: <%= @announcement.created_at.strftime("%Y-%m-%d") %>
			<br>
			Last edited at: <%= @announcement.updated_at.strftime("%Y-%m-%d") %>
			<% if @announcement.user.id == current_user.id %>
			  <%= link_to 'edit now?', edit_announcement_path %>
			<% end %>
		</div>
		</div>
		<div class="row">
			<h1><%= @announcement.title %></h1>
			
			<div class="lead">
				<%= @announcement.body %>
			</div>
		</div>
		<div ckass="row">
			<hr>
			<h2><i>Comments</i></h2>
			<div class="table-responsive">
				<table class='table table-hover'>
			        <thead>
			          <tr>
			            <th>Name</th>
			            <th>Comment</th>
			            <th>Date posted</th>
			            <th></th>
			          </tr>
			        </thead>
			        <% @announcement.comments.each do |com| %>
						<tr>
							<td><%= link_to com.user.name+' '+com.user.surname, user_path(com.user.uuid) %></td>
							<td><%= com.body %></td>
							<td><%= com.created_at.strftime("%Y-%m-%d") %></td>
							<td><% if com.user_id == current_user.id %><%= link_to 'Delete', del_comment_path(com), method: :delete, data: {confim: 'Are you sure?'}%> <%end%></td>
						</tr>
					<%end%>
				</table>
			</div>
			<hr>
			<h2>New comment</h2>
			
			<%= form_for @comment, url: add_comment_path do |c| %>
			  <%= c.text_area :body, required: 'required', placeholder: 'Comment', cols: 50, rows: 2%><br>
			  <%= c.hidden_field :user_id, {value: current_user.id} %>
			  <%= c.hidden_field :announcement_id, {value: @announcement.id} %>
			  <%= c.submit "Post comment!", class: "btn btn-success" %>
			<% end %>
		</div>
	</div>
</div>
