<div class="row form-inline" id="new_address">
	<%= form_for Address.new, url: addresses_path do |a| %>
		<%= a.text_field :street, class: 'form-control', size: 10, placeholder: 'Street' %>
		<%= a.text_field :number, class: 'form-control', size: 1, placeholder: 'No.' %>
		<%= a.text_field :city_id, class: 'form-control', placeholder: 'City', style: 'width: 20%' %>
		<%= a.text_field :zip, class: 'form-control', size: 5, placeholder: 'Zip' %>
		<%= a.select(:country_id, options_for_select(Country.all),{value: nil, class: 'form-control', placeholder: 'Country'}) %>
		<%= a.text_field :description, class: 'form-control', size: 25, placeholder: 'Description (e.g. Home, Work etc.)' %>
		<button class='btn btn-danger cancel' type="button">Cancel</button>
		<%= a.hidden_field :user_id, {value: current_user.id}%>
		<%= a.submit 'Add!', class: 'form-control btn btn-success'%>
	<% end %>
</div>
