<div class="row form-inline" id="new_experience">
	<%= form_for Experience.new, url: experiences_path do |e| %>
		<%= e.text_field :title, class: 'form-control', size: 10, placeholder: 'Title (e.g. Project manager)' %>
		<%= e.text_field :company_id, class: 'form-control', placeholder: 'Company', style: 'width: 20%' %>
		<%= e.text_field :start_date, class: 'form-control generic_date_picker', 'data-provider' => 'datepicker', placeholder: 'Start date' %>
		<%= e.text_field :end_date, class: 'form-control generic_date_picker', 'data-provider' => 'datepicker', placeholder: 'End date' %>
		<%= e.text_field :field_of_work, class: 'form-control', placeholder: 'Field' %>
		<%= e.text_field :city_id, class: 'form-control', placeholder: 'City', style: 'width: 20%' %>
		<%= e.text_field :country_id, class: 'form-control', placeholder: 'Country' %>
		<%= e.text_field :description, class: 'form-control', placeholder: 'Description (e.g. internship)' %>
		<button class='btn btn-danger cancel' type="button">Cancel</button>
		<%= e.hidden_field :user_id, {value: current_user.id}%>
		<%= e.submit 'Add!', class: 'form-control btn btn-success'%>
	<% end %>
</div>
