<div class="row form-inline" id="new_contact">
	<%= form_for Contact.new, url: contacts_path do |c| %>
		<%= c.label 'contact:' %><%= c.text_field :content, class: 'form-control', size: 10 %>
		<%= c.label 'description:' %><%= c.text_field :description, class: 'form-control', size: 10 %>
		<%= c.label 'type:' %><%= c.collection_select(:category_id, Category.all, :id, :name,{class: 'form-control'}) %>
		<button class='btn btn-danger cancel' type="button">Cancel</button>
		<%= c.hidden_field :user_id, {value: current_user.id}%>
		<%= c.submit 'Add!', class: 'form-control btn btn-success'%>
	<% end %>
</div>
