<div class="table-responsive">
  <table class='table table-hover'>
    <thead>
      <tr>
        <% headers.each do |h| %>
          <th><%= h.titleize %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <% if collection == "contact" && subset == "email"%>
      <tr>
        <td><%= mail_to @user.email %></td>
        <td>Primary e-mail</td>
        <td><%= link_to "Edit", edit_user_registration_path if correct_user?(@user) %></td>
      </tr>
    <% end %>
    <% resource.each do |r| %>
      <tr>
        <% columns.each do |c| %>
          <% if collection == "contact" && subset == "email" && c == "content" %>
            <td><%= mail_to r.send(c) %></td>
          <% elsif collection == "contact" && subset == "website" && c == "content" %>
            <td><%= link_to r.send(c), r.send(c) %></td>
          <% else %>
      	    <td><%= r.send(c) %></td>
      	  <% end %>
        <% end %>
        <td><%= link_to "Remove", eval("#{collection}_path(r)"), method: :delete if correct_user?(r.user_id) %></td>
      </tr>
    <% end %>
  </table>
</div>
