<div class="table-responsive">
  <table class='table table-hover'>
    <thead>
      <tr>
        <% headers.each do |h| %>
          <th><%= h.titleize %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <% if collection == "contact" && subset == "email"%>
      <tr>
        <td><a href='mailto:<%= @user.email %>'><%= @user.email%></td>
        <td>Primary e-mail</td>
        <td><%= link_to "Edit", edit_user_registration_path if correct_user?(@user) %></td>
      </tr>
    <% end %>
    <% resource.each do |r| %>
      <tr>
        <% columns.each do |c| %>
      	  <td><%= r.send(c) %></td>
        <% end %>
        <td><%= link_to "Remove", eval("#{collection}_path(r)"), method: :delete if correct_user?(r.user_id) %></td>
      </tr>
    <% end %>
  </table>
</div>
