<h1>Listing members</h1>

<table class="table table-hover table-striped table-responsive">
  <thead>
    <tr>
      <th>Full name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Countries</th>
      <th>Field of work</th>
      <th>Company</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name + ' ' + user.surname, "/users/#{user.uuid}" %></td>
        <td><%= user.gender %></td>
        <td><%= user.age %></td>
        <td><%= user.country %></td>
        <td><%= user.field %></td>
        <td><%= user.company %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
