<h1 class="text-center">Viewing User</h1>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a data-target="#personal" data-toggle="tab">Personal Info</a></li>
  <li><a data-target="#contact" data-toggle="tab">Contact</a></li>
  <li><a data-target="#professional" data-toggle="tab">Professional</a></li>
  <li><a data-target="#education" data-toggle="tab">Education</a></li>
  <li><a data-target="#interests" data-toggle="tab">Interests</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="personal">  
    <p><%= @user.name %> <%= @user.surname %></p>
    E-mail: <a href="mailto:<%= @user.email%>" ><%= @user.email%></a></br>
    Nickname: <%= @user.nickname %></br>
    Old_surname: <%= @user.old_surname %></br>
    Gender: <%= @user.gender%></br>
    Birthdate: <%= @user.birth_date%></br>
    Joined on: <%= @user.created_at.strftime("%Y-%m-%d") %>
  </div>
  <div class="tab-pane" id="professional">
    <div class="table-responsive">
  	  <table class='table table-hover'>
        <thead>
          <tr>
            <th>Company</th>
            <th>Function</th>
            <th>Starting date</th>
            <th>Ending date</th>
            <th>Field</th>
          </tr>
        </thead>
        <%@user.experiences.each do |x| %>
			<tr>
				<td><%= x.company %></td>
				<td><%= x.title %></td>
				<td><%= x.start_date %></td>
				<td><%= x.end_date %></td>
				<td><%= x.field_of_work %></td>
			</tr>
		<%end%>
	</table>
	</div>
  </div>
  <div class="tab-pane" id="education">
    <div class="table-responsive">
  	  <table class='table table-hover'>
        <thead>
          <tr>
            <th>School</th>
            <th>Grade</th>
            <th>Starting date</th>
            <th>Ending date</th>
            <th>Field</th>
          </tr>
        </thead>
        <%@user.educations.each do |e| %>
			<tr>
				<td><%= e.school %></td>
				<td><%= e.grade %></td>
				<td><%= e.start_date %></td>
				<td><%= e.end_date %></td>
				<td><%= e.field %></td>
			</tr>
		<%end%>
	</table>
	</div>
	<div class="table-responsive">
  	  <table class='table table-hover'>
        <thead>
          <tr>
            <th>Language</th>
            <th>Level</th>
          </tr>
        </thead>
        <%@user.languages.each do |l| %>
			<tr>
				<td><%= l.name %></td>
				<td><%= l.level %></td>
			</tr>
		<%end%>
	</table>
	</div>
	
  </div>
  <div class="tab-pane" id="contact">
    <div class="table-responsive">
    	<table class='table table-hover'>
    		<thead>
    			<tr>
    				<th>E-mail</th>
    				<th>Type</th>
    			</tr>
    		</thead>
    		<% @user.emails.each do |em| %>
    			<tr>
    				<td><a href='mailto:<%= em.address %>'><%= em.address %></a></td>
    				<td><%= em.description %></td>
    			</tr>
    		<% end %>
    	</table>
    </div>
    <div class="table-responsive">
    	<table class='table table-hover'>
    		<thead>
    			<tr>
    				<th>Address</th>
    				<th>Address type</th>
    			</tr>
    		</thead>
    		<% @user.addresses.each do |a| %>
    			<tr>
    				<td><%= a.street+' '+a.number+', '+a.city+', '+a.zip+', '+a.country %></td>
    				<td><%= a.description %></td>
    			</tr>
    		<% end %>
    	</table>
    </div>
  </div>
  <div class="tab-pane" id="interests">
    This user is part of the following interests groups:
    <% @user.interests.each do |i| %>
    	<%= link_to i.name, interest_path(i) %>
    <% end %>
  </div>
</div>

<% if @user.id == current_user.id %>
  <%= link_to 'Edit', edit_user_registration_path %> |
<% end %>
<%= link_to 'Back', users_path, class: "btn btn-default" %>