<h1 class="text-center">Profile of <%= @user.name %> <%= @user.surname %></h1>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a data-target="#personal" data-toggle="tab">Personal Info</a></li>
  <li><a data-target="#contact" data-toggle="tab">Contact</a></li>
  <li><a data-target="#professional" data-toggle="tab">Professional</a></li>
  <li><a data-target="#educations" data-toggle="tab">Education</a></li>
  <li><a data-target="#interests" data-toggle="tab">Interests</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="personal">  
    Nickname: <%= @user.nickname %></br>
    Old_surname: <%= @user.old_surname %></br>
    Gender: <%= @user.gender%></br>
    Birthdate: <%= @user.birth_date%></br>
    Joined on: <%= @user.created_at.strftime("%Y-%m-%d") %><br>
    <% if correct_user?(@user) %><%= link_to 'Edit', edit_user_registration_path, class: "btn btn-success" %><% end %>
  </div>
  <div class="tab-pane" id="professional">
  	<%= render partial: 'user_details', locals: {collection: 'experience', columns: ['company','title','start_date','end_date','field_of_work'],
  		headers: ['company','title','started at','ended at','field of work'], resource: @user.experiences} %>
  </div>
  <div class="tab-pane" id='educations' >
  	<h2>Education</h2>
  	<%= render partial: 'user_details', locals: {collection: 'education', columns: ['school','grade','start_date','end_date','field'],
  		headers: ['school','grade','started at','ended at','field'], resource: @user.educations} %>
  	<h2>Languages</h2>
  	<%= render partial: 'user_details', locals: {collection: 'language', columns: ['name','level'], headers: ['name','level'], resource: @user.languages} %>
  </div>
  
  <div class="tab-pane" id="contact">
    <h2>E-mail</h2>
  	<%= render partial: 'user_details', locals: {collection: 'contact', subset: 'email', columns: ['content','description'],
  		headers: ['email','description'], resource: @user.contacts.find_all_by_category_id(1)} %>
	<h2>Phones</h2>
	<%= render partial: 'user_details', locals: {collection: 'contact', subset: 'phones',  columns: ['content','description'],
  		headers: ['email','description'], resource: @user.contacts.find_all_by_category_id(2)} %>
	<h2>Website</h2>
	<%= render partial: 'user_details', locals: {collection: 'contact', subset: 'website',  columns: ['content','description'],
  		headers: ['email','description'], resource: @user.contacts.find_all_by_category_id(3)} %>
  	<h2>Skype</h2>
  	<%= render partial: 'user_details', locals: {collection: 'contact', subset: 'skype',  columns: ['content','description'],
  		headers: ['email','description'], resource: @user.contacts.find_all_by_category_id(4)} %>
  	
    
    <%= render partial: 'user_details', locals: {collection: 'address', columns: ['full_address','description'],
    	headers: ['address','description'], resource: @user.addresses} %>
  </div>
  <div class="tab-pane" id="interests">
    This user is part of the following interest groups:
    <ol>
    <% @interests.each do |i| %>
      <li><%= link_to i.title, interest_path(i) %></li>
    <% end %>
    </ol>
    And is the initiator of the following interest groups:
    <ol>
	<% @own_interests.each do |i| %>
      <li><%= link_to i.title, interest_path(i) %> with <%= i.users.count %> member(s)</li>
	<% end %>    	
    </ol>
  </div>
</div>

