<h1 class="text-center">Profile of <%= @user.name %> <%= @user.surname %></h1>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a data-target="#personal" data-toggle="tab">Personal Info</a></li>
  <li><a data-target="#contact" data-toggle="tab">Contact</a></li>
  <li><a data-target="#professional" data-toggle="tab">Professional</a></li>
  <li><a data-target="#educations" data-toggle="tab">Education</a></li>
  <li><a data-target="#interests" data-toggle="tab">Interests</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="personal">  
    Nickname: <%= @user.nickname %></br>
    Old_surname: <%= @user.old_surname %></br>
    Gender: <%= @user.gender%></br>
    Birthdate: <%= @user.birth_date%></br>
    Joined on: <%= @user.created_at.strftime("%Y-%m-%d") %><br>
    <% if correct_user?(@user) %><%= link_to 'Edit', edit_user_registration_path, class: "btn btn-success" %><% end %>
  </div>
  <div class="tab-pane" id="professional">
  	<div class="row">
  	<%= render partial: 'user_details', locals: {collection: 'experience', columns: ['company','title','start_date','end_date','field_of_work'],
  		headers: ['company','title','started at','ended at','field of work'], resource: @user.experiences} %>
	</div>
	<%= render partial: 'new_experience_form' %>
	<div class="row">
		<div class="col-md-1 col-md-offset-5">
			<button class="btn btn-success", id='add_new_experience'>Add new experience</button>
		</div>
	</div>
  </div>
  <div class="tab-pane" id='educations' >
  	<div class="row">
  		<h3>Education</h3>
  		<%= render partial: 'user_details', locals: {collection: 'education', columns: ['school','grade','start_date','end_date','field'],
  			headers: ['school','grade','started at','ended at','field'], resource: @user.educations} %>
	</div>
	<%= render partial: 'new_education_form' %>
	<div class="row">
		<div class="col-md-1 col-md-offset-5">
			<button class="btn btn-success", id='add_new_education'>Add new education</button>
		</div>
	</div>
	<div class="row">
	  	<h3>Languages</h3>
	  	<%= render partial: 'user_details', locals: {collection: 'language', columns: ['name','level'], headers: ['name','level'], resource: @user.languages} %>
	</div>
	<%= render partial: 'new_language_form' %>
	<div class="row">
		<div class="col-md-1 col-md-offset-5">
			<button class="btn btn-success", id='add_new_language'>Add new language</button>
		</div>
	</div>
  </div>
  
  <div class="tab-pane" id="contact">
  	<div class="row">
  		<div class="col-md-4">
		    <h3>E-mail</h3>
		  	<%= render partial: 'user_details', locals: {collection: 'contact', subset: 'email', columns: ['content','description'],
		  		headers: ['email','description'], resource: @user.contacts.find_all_by_category_id(1)} %>
  		</div>
  		<div class="col-md-4">
			<h3>Website</h3>
			<%= render partial: 'user_details', locals: {collection: 'contact', subset: 'website',  columns: ['content','description'],
		  		headers: ['url','description'], resource: @user.contacts.find_all_by_category_id(3)} %>
  		</div>
  		<div class="col-md-4">
  			<h3>Instant messaging</h3>
		  	<%= render partial: 'user_details', locals: {collection: 'contact', subset: 'skype',  columns: ['content','description'],
		  		headers: ['id','description'], resource: @user.contacts.find_all_by_category_id(4)} %>
  		</div>
	</div>
	<%= render partial: 'new_contact_form' %>
	<div class="row">
		<div class="col-md-1 col-md-offset-5">
			<button class="btn btn-success", id='add_new_contact'>Add new contact detail</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
		    <h3>Addresses</h3>
		    <%= render partial: 'user_details', locals: {collection: 'address', columns: ['full_address','description'],
		    	headers: ['address','description'], resource: @user.addresses} %>
	    </div>
	    <div class="col-md-4">
			<h3>Phones</h3>
			<%= render partial: 'user_details', locals: {collection: 'contact', subset: 'phones',  columns: ['content','description'],
	  			headers: ['number','description'], resource: @user.contacts.find_all_by_category_id(2)} %>
		</div>
    </div>
    <%= render partial: 'new_address_form'%>
	<div class="row">
		<div class="col-md-1 col-md-offset-5">
			<button class="btn btn-success", id='add_new_address'>Add new address</button>
		</div>
	</div>
  </div>
  <div class="tab-pane" id="interests">
    This user is part of the following interest groups:
    <ol>
    <% @interests.each do |i| %>
      <li><%= link_to i.title, interest_path(i) %></li>
    <% end %>
    </ol>
    And is the initiator of the following interest groups:
    <ol>
	<% @own_interests.each do |i| %>
      <li><%= link_to i.title, interest_path(i) %> with <%= i.users.count %> member(s)</li>
	<% end %>    	
    </ol>
  </div>
</div>

