<div class="row">
  <div class="col-md-10">
  	<%= form_for (@interest) do |f| %>
  		
  	  <div class="form-group">
	  	<%= f.label :title %>
	    <%= f.text_field :title, required: 'required', placeholder: 'Title', class: 'form-control' %>
	  </div>
	  <div class="form-group">
	  	<%= f.label :description %>
	    <%= f.text_area :description, required: 'required', placeholder: 'Description', class: 'form-control', rows: 10 %>
	  </div>
	  
	  <%= f.hidden_field :initiator, {value: current_user.id} %>
	  <% if dom_id == "edit_announcement"%>
	    <%= button_to "Edit!", edit_interest_path(@interest), class: "btn btn-success" %>
	  <%else%>
	    <%= f.submit "Create", class: "btn btn-success" %>
	  <%end%>
	<%end%>
  </div>
</div>
