<!DOCTYPE html>
<html ng-app="Aludir">
<head>
  <title>AluDir</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <ul class="nav nav-tabs">
  <li><%= link_to "Home", root_path%></li>
    
    <% if user_signed_in? %>
    <li><%= link_to "User", edit_user_registration_path %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path%></li>  
  <% end%>
</ul>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
