<!DOCTYPE html>
<html>
<head>
  <title>AluDir</title>
  <%= favicon_link_tag 'best_favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  <% if user_signed_in? %>
    <%= render 'layouts/navbar' %>
    <%= render "layouts/messages" %>

  <% end %>


  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
