  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <div class="col-sm-4 col-sm-offset-1">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field"><%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control' %></div><br/>
      
      <div class="field"><%= f.label :surname %><br>
        <%= f.text_field :surname, class: 'form-control' %></div><br/>
      
      <div class="field"><%= f.label :old_surname %><br>
        <%= f.text_field :old_surname, class: 'form-control' %></div><br/>
        
      <div class="field"><%= f.label :nickname %><br>
        <%= f.text_field :nickname, class: 'form-control' %></div><br/>
        
      <div class="field"><%= f.label :birth_date %><br>
        <%= f.date_select("birth_date", start_year: 1940, class: 'form-control')%></div><br/>
      
      <div class="field"><%= f.label :primary_email %><br>
        <%= f.email_field :email, :autofocus => true, class: 'form-control' %></div><br/>

	  <div><%= f.label :new_password %><br><i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, :autocomplete => "off", class: 'form-control password' %></div><br/>

      <div hidden="true" class="password_confirm"><%= f.label :new_password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: 'form-control' %></div><br/>
      
      <br/>
	  <%= link_to 'Update details', '', class: 'btn btn-primary', 'data-toggle' => 'modal', 'data-target' => '#password_confirm' %>
	  <%= link_to 'Delete account', '', class: 'btn btn-danger', 'data-toggle' => 'modal', 'data-target' => '#delete_account'%>
  </div>

  <div class="col-sm-3 col-sm-offset-3">

  </div>

    <div class="modal fade" id="password_confirm" tabindex="-1" role="dialog" aria-labelledby="password_confirm" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Confirm changes</h4>
	      </div>
	      <div class="modal-body">	      	
	        <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
		      <%= f.password_field :current_password, class: 'form-control' %></div>
	      </div>
	      <div class="modal-footer">
	        <%= link_to 'Close', '', class: "btn btn-danger", 'data-dismiss' => "modal"%>
	        <%= f.submit "Update", class: 'btn btn-success' %>
	      </div>
	    </div>
	  </div>
	</div>
  <% end %>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	<div class="modal fade bs-example-modal-sm" id="delete_account">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Confirm you want to delete your account</h4>
	      </div>
	      <div class="modal-body">
	      	<div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
		      <%= f.password_field :current_password, class: 'form-control' %></div><br/>
	        <p>Please confirm you want to delete your account by typing:</p>
	        <b>I want to delete my account!</b><br>
	        <input type="text" class="confirmation form-control"><br>
	        Remember that all your information and announcements will be deleted and that this is not a reversible action!
	      </div>
	      <div class="modal-footer">
	        <center>
	        <%= button_to "Goodbye!", registration_path(resource_name), :method => :delete, class: "btn btn-danger cancel_account", disabled: true %>
	        </center>
	      </div>
	    </div>
	  </div>
	</div>	
  <%end%>
  
  <!-- Thanks to Raphael! https://gist.github.com/raphaelescoyez/8c24c50ebb3740a779a7 -->
<script type="text/javascript">
  $(document).ready(function() {
    $('.confirmation').keyup(function() {
      var confirmation = $('.confirmation').val();
        if (confirmation == 'I want to delete my account!') {
          $('.cancel_account').removeAttr('disabled');
        }
        else {
          $('.cancel_account').attr('disabled','disabled');
        };
    });
  },
  $('.password').keyup(function() {
  	var confirmation = $('.password').val();
        if (confirmation != '') {
          $('.password_confirm').removeAttr('hidden');
        }
        else {
          $('.password_confirm').attr('hidden','true');
        };
  }));
</script>

